@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Light Mode */
  --color-primary: hsl(235, 78%, 64%);
  --color-primary-violet: hsl(235, 50%, 50%);
  --color-background: hsl(220deg 17.65% 96.67%);
  --color-title: hsl(219, 29%, 16%);
  --color-gray: hsl(214, 17%, 51%);
  --color-white: hsl(0, 0%, 100%);

  /* Dark Mode */
  --color-dark-background: hsl(219, 29%, 9%);
  --color-dark-card: hsl(217, 26%, 14%);
  --color-dark-title: hsl(240, 6%, 90%);
  --color-dark-gray: hsl(214, 17%, 65%);

  /* font family */
  --font-kumbh: "Kumbh Sans", sans-serif;
}

body {
  @apply bg-background dark:bg-dark-background;
}
.padxh {
  @apply px-4 md:px-12 lg:mx-auto lg:max-w-4xl lg:px-0 xl:max-w-6xl 2xl:max-w-7xl;
}
.padx {
  @apply px-4 md:px-16 lg:mx-auto lg:max-w-3xl lg:px-0 xl:max-w-4xl 2xl:max-w-6xl;
}
.back {
  @apply from-primary-violet to-primary absolute top-0 left-0 -z-10 h-32 w-full md:rounded-bl-4xl bg-linear-to-r;
}
